@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background: #54ACDD;
    color: white;
}


aside::-webkit-scrollbar {
    width: 0px;
    transition: width 0.3s ease;
}


aside:hover::-webkit-scrollbar {
    width: 5px;
}



aside::-webkit-scrollbar-thumb {
    background-color: #54ACDD;  
    border-radius: 10px;
}


aside::-webkit-scrollbar-thumb:hover {
    background-color: #279EDA; 
}

/* aside::-webkit-scrollbar-track {
   background: #f1f1f1;
} */
  
  